.container {
  color: #fff;

  display: flex;
  > article {
    flex: 1;
  }
}

.block-layout {
  text-align: center;
  padding: 20px;
  > header {
    font-size: 2em;
  }
  > main {
    padding: 20px 0;

    video {
      width: 100%;
      height: 500px;
      border: 1px solid #009afe;
    }
  }

  > footer {
    > button {
      margin: 0 20px;
    }
  }
}
