.container {
  > main {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > audio {
      margin: 10px;
    }
  }
}

.button {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  color: #333;
}
